body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner {
  margin-top: 50px;
  margin-bottom: 50px;
}

.hexagons {
  margin-top: 50px;
  /* transform: translate(-25%) */
}

.text {
  margin-top: 100px;
  height: 100%;
  /* margin-right: 0px; */
  /* transform: translate(25%, -200px); */
  text-align: center;
  min-width: 100px;
  max-width: 270px;
}

.hexagon-styled {
  width: 100px;
  margin-left: 25px;
  min-width: 100px;
  max-width: 250px;
}

.hexagon-styled:hover {
  opacity: 0.4;
  transform: scale(1.05)
}

/* margin-bottom is set to a negative value so that the hexagon rows can overlap.
If margin-bottom was set to 0, the rows would appear tip-to-tip. */
.hex-row {
  margin-bottom: -10px;
}

.hex-text {
  font-size: 64px;
  max-width: 70px;
  text-align: center;
}